---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Don't trust everything, though."
  pubDate={new Date("2023-05-27")}
  updatedDate={new Date("2025-07-31")}
>
  <p>kicksky</p>
  <p>생각하기 위해 남기기</p>
</Layout>
