---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Don't trust everything, though."
  pubDate={new Date("2023-05-27")}
  updatedDate={new Date("2023-05-27")}
  heroImage="/fruit-kinkan.png"
>
  <p>하이하이. 나는 kicksky.</p>
  <p>사금 채취하듯 부스러기 같은 생각 모으는 것.</p>
  <p>사실 그냥 별점 중독이기도 함.</p>
</Layout>
